ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
li {
  margin: 10px 0;
}
h2 {
  margin: 10px 0;
}
li.done {
  text-decoration: line-through;
}
.remove {
  float: right;
}
.todo-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  padding: 20px 20px;
  font-size: 20px;
  background-color: white;
}
.todo-box {
  border: 1px solid #ccc;
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 200px;
  background-color: pink;
  padding: 20px;
}
input[type="text"] {
  border: 1px solid #ccc;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
